<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>欢迎登录员工信息管理系统</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" th:src="@{js/jquery-1.8.3.min.js}"></script>
		<script type="text/javascript" th:src="@{js/cloud.js}"></script>

		<script language="javascript">
			$(function() {
				$('.loginbox').css({
					'position': 'absolute',
					'left': ($(window).width() - 692) / 2
				});
				$(window).resize(function() {
					$('.loginbox').css({
						'position': 'absolute',
						'left': ($(window).width() - 692) / 2
					});
				})
			});
		</script>
	</head>

	<body style="background-color:#1c77ac; background-image:url(images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
	<form action="login" method="post">
		<div id="mainBody">
			<div id="cloud1" class="cloud"></div>
			<div id="cloud2" class="cloud"></div>
		</div>

		<div class="logintop">
			<span>欢迎使用员工信息管理系统平台</span>
		</div>

		<div class="loginbody">
			<span class="systemlogo"></span>
			<div class="loginbox">
				<ul>
					<li><input id="phone" name="phone" type="text" class="loginuser" placeholder="请输入手机号"/></li>
					<li><input id="password" name="password" type="password" class="loginpwd" placeholder="请输入密码"/></li>
					<li>
						<input type="submit" id="loginsubmit" class="loginsubmit" value="登录" />
						<input type="reset" id="loginreset" class="loginreset" value="重置" />
					</li>
					<!-- 
					<a th:href="@{admin/login}">管理员</a>
					 -->
				</ul>
			</div>
		</div>
		<div class="loginbm">好好学习，天天向上 </div>
		</form>
	</body>

</html>